* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

body {
  background-color: white;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  background-color: white;
  color: rgb(75, 72, 72);
  position: fixed;
  z-index: 2;
  box-shadow: 3px 2px 3px #abb3bb;
}

header p {
  font-size: 1.5rem;
  width: 20%;
  padding: 0 0 0 0.8rem;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav {
  width: 50%;
  justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: rgb(5, 5, 5);
  font-weight: 700;
  letter-spacing: 0.2rem;
  cursor: pointer;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 18px;
  height: 2px;
  background-color: rgb(32, 29, 29);
  margin: 3px;
  transition: all 0.5s ease;
}

.burger:hover div:nth-child(1) {
  transform: translateX(3px);
}

.burger:hover div:nth-child(2) {
  transform: translateX(-3px);
}

.burger:hover div:nth-child(3) {
  transform: translateX(3px);
}

.cart-number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa {
  width: 99%;
  margin-bottom: 30px;
  margin-top: 100px;
  text-align: end;
  color: #5f6368;
  position: relative;
}

.totalItemsInCart {
  position: absolute;
  top: -10px;
  left: 98%;
  background-color: yellow;
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5f6368;
  z-index: -1;
}

.bigpic {
  background-image: url(img/jeans.jpg);
  background-attachment: fixed;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: cindy;
  animation-duration: 7s; /*how long the animation should take to complete*/
  animation-iteration-count: infinite;
}

.bigpic-a {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigpic-a:hover {
  background-color: #5f6368;
  border-radius: 25px;
}

.bigpic-p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes cindy {
  0% {
    background-image: url(img/jeans.jpg);
  }

  25% {
    background-image: url(img/download.jpg);
  }

  50% {
    background-image: url(img/hair.jpg);
  }

  100% {
    background-image: url(img/jeans.jpg);
  }
}

li {
  list-style: none;
}

a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  font-variant: normal;
  font-weight: 600;
  color: burlywood;
}

/* ---------------for carousel------------*/
main {
  width: 100%;
  height: 500px;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
}

h1 {
  width: 90%;
  margin: 10px auto;
  font-weight: 400;
  color: #5f6368;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

span {
  position: absolute;
  top: 40%;
  font-size: 60px;
  font-weight: bold;
  color: #5f6368;
  cursor: pointer;
  left: 0.5%;
  z-index: 1;
}

span:nth-of-type(2) {
  left: 98%;
  text-align: right;
}

section {
  display: flex;
  flex-direction: column;
}

.render {
  width: 98%;
  height: 500px;
  margin: 10px auto;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

section::-webkit-scrollbar {
  visibility: hidden;
}

.product {
  margin: 10px 10px 10px 10px;
  min-width: 250px;
  height: 400px;
  position: relative;
  transition: 0.5s;
  box-shadow: 4px 4px 4px #abb3bb;
}

picture {
  bottom: 60px;
  width: 100%;
  height: 70%;
  padding: 20px;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

img {
  height: 100%;
  width: 90%;
}

.details {
  width: 100%;
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50px;
  font-size: 20px;
  color: #5f6368;
  top: 250px;
}

p {
  display: flex;
  justify-content: space-between;
}

b,
small,
samp,
button {
  font-size: 1rem;
}

button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: burlywood;
  background: none;
}

button p {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button p:hover {
  background-color: #5f6368;
  border-radius: 25px;
}
/* -------------------end of carousel------------------------*/

.cart-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.cart-header .column4 {
  visibility: hidden;
}
/* cart items */
.cart-items {
  max-height: calc(100vh - 247px);
  overflow-y: auto;
  overflow-x: hidden;
}
/* cart item */
.cart-item::-webkit-scrollbar {
  visibility: hidden;
}

.cart-item {
  height: 25%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.cart-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* item info */
.cart-item .item-info {
  flex: 1;

  border-radius: 0 10px 10px 0;
}
.cart-item .item-info:hover {
  background-color: #5f6368;
  cursor: pointer;
}
.cart-item .item-info img {
  height: 100%;
  width: 70px;
}
/* unit price */
.cart-item .unit-price {
  flex: 1;
  font-size: 1.5rem;
}

.unit-price small {
  font-size: 1.5rem;
}
/* units */
.cart-item .units {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  width: 25px;
  background-color: #5f6368;
}
.cart-item .units .number {
  margin: 0 10px;
  font-size: 1.2rem;
}

.cart-item .units .btn {
  width: 20px;
  height: 20px;
  background-color: rgb(242, 255, 58);
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
}

/* cart footer */
.cart-footer {
  /*width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 21, 21);
  border-left: 1px solid rgb(255, 21, 21);
  margin-top: 30px;*/
}
.cart-footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 1.3rem;
}

.cart-footer .subtotal {
  background-color: white;
}
.cart-footer .checkout {
  background-color: rgb(242, 255, 58);
  cursor: pointer;
}

footer {
  height: 100px;
  color: #5f6368;
  margin-top: 50px;
  border-top: 3px solid #5f6368;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.flogo {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  font-family: sans-serif;
}

@media screen and (max-width: 600px) {
  .totalItemsInCart {
    position: absolute;
    top: -10px;
    left: 94.5%;
    background-color: rgb(224, 224, 7);
    z-index: -1;
  }

  .nav-menu {
    position: fixed;
    left: -1000px;
    top: 10vh;
    right: -126px;
    flex-direction: column;
    width: 50%;
    height: 400px;
    transition: 1.5s;
    background-color: white;
    z-index: 4;
  }

  .nav-item {
    margin: 0 0 0 10px;
    height: auto;
    padding: 15px 0 15px 5px;
    transition: 5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-item .nav-link {
    font-size: 1rem;
    font-weight: 400;
  }

  .nav-menu.active {
    left: 0;
  }

  .burger {
    display: block;
    margin-right: 5px;
  }

  span {
    display: none;
  }

  .cart-header {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

  .cart-header .column1 {
    margin-left: 0px;
  }

  .cart-header .column2 {
    margin-left: 40px;
  }

/*.cart-header .column4 {
  visibility: ;
}
/* cart items */
/*.cart-items {
  max-height: calc(100vh - 247px);
  overflow-y: auto;
  overflow-x: hidden;
}
/* cart item */
.cart-item::-webkit-scrollbar {
  visibility: hidden;
}

.cart-item {
  height: 35%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.cart-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* item info */
.cart-item .item-info {
  flex: 1;
  border-radius: 0 10px 10px 0;
}
.cart-item .item-info:hover {
  background-color: #5f6368;
  cursor: pointer;
}
.cart-item .item-info img {
  height: 90%;
  width: 70px;
}
/* unit price */
.cart-item .unit-price {
  flex: 1;
  font-size: 1.3rem;
}

.unit-price small {
  font-size: 1.3rem;
}
/* units */
.cart-item .units {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  width: 25px;
  background-color: #5f6368;
}
.cart-item .units .number {
  margin: 0 10px;
  font-size: 1.2rem;
}

.cart-item .units .btn {
  width: 20px;
  height: 20px;
  background-color: rgb(242, 255, 58);
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
}

/* cart footer */
.cart-footer {
  /*width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 21, 21);
  border-left: 1px solid rgb(255, 21, 21);
  margin-top: 30px;*/
}
.cart-footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 1.3rem;
}

.cart-footer .subtotal {
  background-color: white;
}
.cart-footer .checkout {
  background-color: rgb(242, 255, 58);
  cursor: pointer;
}
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
  span {
    display: none;
  }

  nav {
    width: 65%;
  }

  header nav ul {
    width: 100%;
  }
}
